<section class="py-10">
    <div class="container">
        <div class="flex items-center justify-between gap-4">
            <a href="" class="flex items-center gap-4 hover:underline hover:text-quaternary">
                {{ $image := resources.Get "images/health.webp" }}
                {{ with $image }}
                    <img
                        class="w-14 md:w-20 h-14 md:h-20 object-cover object-center rounded-full" 
                        src="{{ $image.RelPermalink }}" 
                        width="{{ .Width }}" 
                        height="{{ .Height }}"
                    >
                {{ end }}
                <h2 class="font-bold text-2xl md:text-3xl lg:text-4xl leading-tight md:leading-tight">
                    Move Your Body
                </h2>
            </a>
            <a href="" class="text-quaternary uppercase font-bold hidden md:flex items-center gap-2 hover:underline hover:text-quaternary tracking-wider">
                <span class="block">
                    See all fitness
                </span>
                <span class="block">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>                      
                </span>
            </a>
        </div>
        <hr class="-mt-1 w-full h-px bg-gray-100" />
        <div class="mt-12 grid grid-cols-2 md:grid-cols-4 gap-3 sm:gap-4 lg:gap-5">
            {{ partial "custom/sub/4-col-post-item" . }}
            {{ partial "custom/sub/4-col-post-item" . }}
            {{ partial "custom/sub/4-col-post-item" . }}
            {{ partial "custom/sub/4-col-post-item" . }}
        </div>
    </div>
</section>